html{
	overflow: hidden;
}
p{
	font-size: 18px;
}
h2{
	margin-bottom: 25px;
	letter-spacing: 25px;
	font-weight: 100;
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
}
.abt-wrap{
	width: auto;
	display: flex;
}
.picture-cont{


	width:35%;
	height: 850px;
	margin: 0 9%;
	margin-top: -13%;

	background-color: #efefef;
	overflow: hidden;
	-webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.1);
}
img{
	position: relative;
	top:5%;
	left: -15%;
}
.content-cont{
	width: 50%;
	
	border-color: #000;

	text-align: right;

}