

.prt{
	margin-right: 
}
.ttl-cont {
  position: fixed;
  top:18%;
  right: 10%;
}
/*PORT STANDS FOR PORTFOLIO*/
.port-cont{
	display: flex;
	height: 600px;
	padding: 50px 0;
}
.skills-list{
	text-align: right;
	list-style-type: none;
	width: 20%;
	height: 120px;
  	position: fixed;
  	top:26.5%;
  	right: 5.65%;
}
.list-box-cont{
	display: block;
	max-width: 1260px;
	width: 80%;
	flex-wrap: all;
}


input[type="radio"] {
    display:none;
}

label{
	float: left;
	cursor: pointer;
	opacity: .56;
	width:300px;
	height: 22px;
	transition: .2s;
}
label:hover{
	font-size: 18px;
	opacity: 1;
	transition: .2s;
	transform-origin: 0 50%;
}


input[type="radio"][id="gr-ds"]:checked + label {
	font-size: 18px;
	-webkit-transition: .5s;
	transition: .5s;
}

input[type="radio"][id="gr-ds"]:checked ~ .illus, input[type="radio"][id="gr-ds"]:checked ~ .ui-ux, input[type="radio"][id="gr-ds"]:checked ~ .anim {
	/*width: 0;*/
	height: 0;
	margin:0;
	padding:0;
	opacity: 0;
	animation: reduce 1s ease-in-out;
}

input[type="radio"][id="illus"]:checked + label {
	font-size: 18px;
	-webkit-transition: .5s;
	transition: .5s;
}

input[type="radio"][id="illus"]:checked ~ .gr-ds, input[type="radio"][id="illus"]:checked ~ .ui-ux, input[type="radio"][id="illus"]:checked ~ .anim {
	/*width: 0;*/
	height: 0;
	margin:0;
	padding:0;
	opacity: 0;
	animation: reduce 1s ease-in-out;
}

input[type="radio"][id="ui-ux"]:checked + label {
	font-size: 18px;
	-webkit-transition: .5s;
	transition: .5s;
}

input[type="radio"][id="ui-ux"]:checked ~ .gr-ds, input[type="radio"][id="ui-ux"]:checked ~ .illus, input[type="radio"][id="ui-ux"]:checked ~ .anim {
	/*width: 0;*/
	height: 0;
	margin:0;
	padding:0;
	opacity: 0;
	animation: reduce 1s ease-in-out;
}

input[type="radio"][id="anim"]:checked + label {
	font-size: 18px;
	-webkit-transition: .5s;
	transition: .5s;
}

input[type="radio"][id="anim"]:checked ~ .gr-ds, input[type="radio"][id="anim"]:checked ~ .illus, input[type="radio"][id="anim"]:checked ~ .ui-ux {
	/*width: 0;*/
	height: 0;
	margin:0;
	padding:0;
	opacity: 0;
	transform-origin: 50% 50%;
	animation: reduce 1s ease-in-out;
}
@keyframes reduce{
	85% {
		width:45%;
		margin-right: 1.5%;
		margin-bottom: 1.5%;
	}
	100%{
		width: 0;
		margin:0;
		padding:0;
	}

}

@keyframes amplify{
	55%{
		width: 0;
	}
	100%{
		width: 45%;

	}
}

.box{
	width: 45%;
	height: 280px;
	float:left;
	transition: all 0.5s;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	background-color: #000;
	overflow: hidden;
	transform-origin: 50% 0%;
	display: block;

}
.box img{
	width: 100%;
	height: auto;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transition:1.5s;

}
.box img:hover{
	width: 120%;
	opacity: .16;
	transition:1.5s;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);

}