.wrap{
	margin: 10% 10% 0 10%;
}
.ttl-cont {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  z-index: 1;
}
/*PORT STANDS FOR PORTFOLIO*/
.port-cont{
	background-color: #efefef;
	display: flex;
	flex: 1 1 auto;
	flex direction: row;
}
.skills-list{
	text-align: right;
	list-style-type: none;
}
.list-box-cont{
	display: inline-block;
	max-width: 1260px;
	overflow: scroll;
}


input[type="radio"] {
    display:none;
}

label{
	float: left;
	cursor: pointer;
	opacity: 56%;
	width:300px;
	height: auto;
}

input[type="radio"][id="gr-ds"]:checked + label {
	font-size: 18px;
	transition: .5s;

}

input[type="radio"][id="gr-ds"]:checked ~ .illus, input[type="radio"][id="gr-ds"]:checked ~ .ui-ux, input[type="radio"][id="gr-ds"]:checked ~ .anim {
	width:0;
	height:0;
	margin:0;
	padding:0;
	opacity: 0;
}

input[type="radio"][id="illus"]:checked + label {
	font-size: 18px;
	transition: .5s;
}

input[type="radio"][id="illus"]:checked ~ .gr-ds, input[type="radio"][id="illus"]:checked ~ .ui-ux, input[type="radio"][id="illus"]:checked ~ .anim {
 	width:0;
	height:0;
	margin:0;
	padding:0;
	opacity: 0;
}

input[type="radio"][id="ui-ux"]:checked + label {
	font-size: 18px;
	transition: .5s;
}

input[type="radio"][id="ui-ux"]:checked ~ .gr-ds, input[type="radio"][id="ui-ux"]:checked ~ .illus, input[type="radio"][id="ui-ux"]:checked ~ .anim {
 	width:0;
	height:0;
	margin:0;
	padding:0;
	opacity: 0;
}

input[type="radio"][id="anim"]:checked + label {
	font-size: 18px;
	transition: .5s;
}

input[type="radio"][id="anim"]:checked ~ .gr-ds, input[type="radio"][id="anim"]:checked ~ .illus, input[type="radio"][id="anim"]:checked ~ .ui-ux {
	width:0;
	height:0;
	margin:0;
	padding:0;
	opacity: 0;
}
.box{
	width: 600px;
	height: 320px;
	float:right;
	transition:all 1s;
	margin-right: 1%;
	margin-bottom: 1%;
	padding:0.5%;
	background-color: #000;
}