* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html{
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: Roboto;
  color: #4E4E4E;
}
label, p {
  font-size: 16px;
}

a {
  color: inherit;

  cursor: pointer;

  text-decoration: none;

}


h2 {
  font-family: 'PT Sans', 'sans-serif';
  text-align: right;
  font-size: 50px;
}

h3{
  font-family: 'PT Sans', 'sans-serif';
  text-align: right;
  font-size: 20px;
  padding:20px 0;
}

::selection {
  background-color: #000;
  color:#FFF;
}

.my-transition-enter {
  opacity: 0;
}

.my-transition-enter-active {
  transition: opacity 450ms ease;
}

.my-transition-enter-to {
  opacity: 1;
}

.wrap{
  margin: 10%;
  width: 100%;
}
#barba-wrapper{
  position: absolute;
  height: 100%;
  max-height: 960px;
  width: 100%;
}
.barba-container{
  display: flex;
  height: inherit;
  
  align-content: center;
  align-items: center;
}
.bg-wrapper {
  position: absolute;
  top: -45%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.bg-wrapper span {
  margin:0 70px;

  font-size: 30vw;
  color: #fff;
  
  animation: move 2s ease-in-out forwards;
  user-select: none;
  -moz-user-select: none;
}

.bg-wrapper span:nth-child(2) {
  animation-delay: 0.5s;
}

.bg-wrapper span:nth-child(3) {
  animation-delay: 1.0s;
}

.bg-wrapper span:nth-child(4) {
  animation-delay: 1.5s;
}

.bg-wrapper span + span {
  margin-left: 5vmin;
}

.main-txt {
  position: relative;
  z-index: 1;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 5%;

  align-items: center;
  justify-content: center;
}

.main-txt h2 {
  text-align: center;
}

.my-name {
  text-align: center;
}

.menu-cont {
  /*margin: 0 50px;*/
  /*background-image: linear-gradient(to bottom, white calc(50% - 1px), gray calc(50% - 1px), gray calc(50% + 1px), white calc(50% - 1px));*/
  position: fixed;
  z-index: 2;

  width: 100%;
  bottom:0;

  text-align: left;
  mix-blend-mode: exclusion;
}

.menu-lnks-cont {
  padding: 0 120px;
  display: inline-flex;
  flex-wrap: wrap;

}

.mn-ln{
    width: 100%;
    height: .15em;
    top: 50%;
    position: absolute;
    background-color: #95989A;
    mix-blend-mode: exclusion;
}

.menu-cont a {
  padding: 25px;

  opacity: 1;
  
  font-size: 16px;
  font-kerning: 66px;

  transition: .3s ease-in-out;

.cta {

}

}
.menu-cont a:hover {
  padding: 10px;

  transition: .3s ease-in-out;

  font-size: 18px;
}

.skillset {
    width: 100%;
}
.skills {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 25px;
    margin: 25px 0;
    
    align-items: center;

    color: inherit;
    font-size: x-large !important;
    justify-content: center;
}
.main-txt p{
  text-align: center;
}

@media screen and (max-width: 480px) {
  .bg-wrapper {
    display: none;
  }

  .main-txt h2 {
    font-size: 30px;
  }

  .menu-cont {
    margin-top: 50px;
  }

  .menu-cont a {
    flex: 1 1 auto;
  }
}

@keyframes move {
 /*SECOND ANIMATION*/
  5% {
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15);
    -moz-text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15);
    -ms-text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15);
    -webkit-text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15);
  }
  100% {
    text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    -moz-text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    -webkit-text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    -ms-text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    color: #F8F8F8;
  }
 
 /*
 FIRST ANIMATION TRANSITION TEST
  5% {
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15)
  }

  50% {
    text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    color: #F8F8F8;
  }

  95% {
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15)
  }

  100% {
    transform: translate(33%, 0);
  }*/
}
