* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: Roboto;
  color: #4E4E4E;
}

a {
  color: inherit;
}

h2 {
  font-family: 'PT Sans', 'sans-serif';
}

.bg-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg-wrapper span {
  font-size: 30vw;
  color: #fff;
  animation: move 2s ease-in-out infinite;
}

.bg-wrapper span:nth-child(2) {
  animation-delay: 0.5s;
}

.bg-wrapper span:nth-child(3) {
  animation-delay: 1.0s;
}

.bg-wrapper span:nth-child(4) {
  animation-delay: 1.5s;
}

.bg-wrapper span + span {
  margin-left: 5vmin;
}

.main-txt {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.main-txt h2 {
  font-size: 50px;
}

.main-txt p {
  font-size: 16px;
  letter-spacing: 0;
}

.main-lnks {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-lnks a {
  padding: 25px 50px;
  text-decoration: none;
}

.menu-cont {
  margin: 0 50px;
  background-image: linear-gradient(to bottom, white calc(50% - 1px), gray calc(50% - 1px), gray calc(50% + 1px), white calc(50% - 1px));
}

.menu-lnks-cont {
  padding: 0 25px;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.menu-cont a {
  padding: 25px;
  text-decoration: none;
  font-size: 16px;
  font-kerning: 66px;
}

@media screen and (max-width: 480px) {
  .bg-wrapper {
    display: none;
  }

  .main-txt h2 {
    font-size: 30px;
  }

  .menu-cont {
    margin-top: 50px;
  }

  .menu-cont a {
    flex: 1 1 auto;
  }
}

@keyframes move {
  5% {
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15)
  }

  50% {
    text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    color: #F8F8F8;
  }

  95% {
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15)
  }

  100% {
    transform: translate(33%, 0);
  }
}
