body, html {
	font-family: Roboto;
	font-size: 24px;
	line-height: 1.6;
	letter-spacing: 5px;
	text-align: center;
	margin:-50px;
	overflow: hidden;
	height:100%;
}
/*BACKGROUND ANIMATION AND CONTENT*/
.bg-wrapper {
  color: #Ffffff;
  font-size: 0;
  line-height: 1;
  margin-left: -15%;
  padding-right: 15%;
  width: 100%;
  display: inline-flex;
  overflow: hidden;
}

span {
    font-size: 653px;
    font-weight: 1000;
    display: inline;
    margin-right: 9%;
    animation: move 30s ease-in-out infinite;
    &:nth-child(2) { animation-delay: 0.5s; }
    &:nth-child(3) { animation-delay: 1.0s; }
    &:nth-child(4) { animation-delay: 1.5s; }
  }

/*ANIMATION BY CHRIS COYIER https://codepen.io/chriscoyier/pen/RRxQZg*/

@keyframes move {
  0% {
    /*transform: translate(-33%, 0);*/
  }
  5%{
  	text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15)
  }
  50% {
    text-shadow: 0 55px 75px rgba(1, 1, 1, 0.15);
    color: #F8F8F8;
  }
  95%{
  	text-shadow: 0 1px 1px rgba(1, 1, 1, 0.15)
  }
  100% {
    /*transform: translate(33%, 0);*/
  }
}
.main-txt{
	width: 1000px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 0;
}

#main-lnks{
	font-weight: 200;
	display: flex;
}

#main-lnks a{
	margin-right: 50px;
}
